.theme-font {
	font-family: 'Oswald', sans-serif;
}

.title-font {
	font-family: 'Pacifico', cursive;
}

.custom-progress-bar
{
	margin: 0px auto;
	display: block;
	max-width: 650px;
}

.hr {
	width: 90%;
	border-top: 1px solid #000000;
}

.center {
	text-align: center;
	margin: 0px auto;
	display: block;
}

.list-element {
	margin: 0px auto;
	display: block;
	height: 20% ;
}

.custom-container {
	margin: 0px auto;
	display: block;
	padding-bottom: 20px;
}

button {
	background-color: #ffffff;
	border: none;
}

.blue {
	color: #0047ba;
}

a {
	color: black;
}

.title-img {
	width: 50%;
	margin: 0px auto;
	max-width: 400px;
	min-width: 200px;
	display: block;
}

ul {
	padding-left: 10px;
}

.description {
	font-family: 'Roboto', sans-serif;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 17px;
}

.back {
	position: absolute;
	left: 5px;
	top: 5px;
}